body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #46abb2;
}

header {
    background: #333;
    color: #74b2e3;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #22359c;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background: #35a3b4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

ul {
    margin: 0;
    padding: 0;
    list-style: disc;
    margin-left: 20px;
}

ol {
    margin: 0;
    padding: 0;
    list-style: decimal;
    margin-left: 20px;
}

footer {
    background: #333;
    color: #661fe2;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
